@charset "utf-8";
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* body */
.all_content {
    background: #ecf1f6;
}
#wrapper {
    min-width: 700px;
    padding: 30px;
}
form .login {
    flex-direction: column;
}
.d-flex img {
    margin-bottom: 40px;
}
.radius_white {
    border-radius: 10px;
    background-color: #fff;
    padding: 8px;
}
ul,
li {
    list-style: none;
}
.btn {
    cursor: pointer;
}
.text-danger {
    font-size: 12px;
}
/* サイドバー */
.sidebar {
    width: 20%;
    max-width: 280px;
    min-width: 210px;
    height: 100vh;
    background-color: #03aad2;
    font-weight: bold;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}
.main-container {
    width: 100%;
    margin-left: max(20%, 210px);
}
.sidebar p {
    position: relative;
    height: 70px;
    transition: opacity 0.4s;
    margin: 0;
}
.sidebar p a {
    position: absolute;
    display: flex;
    align-items: center;
    text-decoration: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #44abd3;
    transition: background-color 0.4s;
    opacity: 0.8;
    color: #fff;
    overflow: hidden;
}
.sidebar p a span {
    display: inline-block;
    padding-left: 15px;
    font-size: 18px;
    transition: transform 0.4s;
}
.sidebar p a:hover span {
    transform: translateX(10px);
}
.sidebar p a:hover {
    background-color: #3385a7;
    opacity: 1;
}
/* トップページ */
.user_status {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

/* スクール予約関連 */
.day-blank {
    background: #d3d3d3;
}
.calendar th:nth-child(6),
.calendar td:nth-child(6) {
    color: #0000ff;
}
.calendar th:nth-child(7),
.calendar td:nth-child(7) {
    color: #ff0000;
}
.border-primary {
    width: 100%;
}
.day-part-container {
    display: flex;
    justify-content: space-between;
    margin: 0 10%;
}
.day_part {
    color: #65c4df;
    border: #65c4df;
}
.count {
    color: #000;
    border-radius: 5px;
    margin-left: 10px;
}
.calendar-td {
    min-width: 100px;
}
.adjust-area p {
    justify-content: space-around;
}
.reservation_list {
    width: 100%;
    justify-content: space-between;
}
.reservation_column {
    background-color: #43a9d3;
    color: #fff;
    font-weight: bold;
}
.modal-reserve-date input,
.modal-reserve-part input {
    border: none;
    outline: none;
}
.modal-reserve-part input {
    max-width: 8px;
}
.thickline {
    border-bottom: 1px solid #dfe2e6;
    margin-bottom: 10px;
}
.odd-row {
    background-color: #fff;
}
.even-row {
    background-color: #e5f6fa;
}
.calendar table {
    width: 100%;
    margin-bottom: 0;
    table-layout: fixed;
}

.calendar th,
.calendar td {
    width: 14.28%;
    height: 100%;
    font-size: 14px;
}
/* モーダル */
.modal {
    display: none;
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100%;
}
.modal__bg {
    background: rgba(0, 0, 0, 0.8);
    height: 100vh;
    position: absolute;
    width: 100%;
}
.modal__content {
    background: #fff;
    left: 50%;
    padding: 40px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
}
.modal_btn {
    position: absolute;
    top: 20px;
    right: 20px;
}
.hidden {
    border: none;
    outline: none;
    outline-style: none;
    width: auto;
}
/* 掲示板 */
.sub_categories {
    display: none;
}
.othre_area {
    width: 350px;
    min-width: 300px;
}
.post_create_area textarea {
    resize: none;
    height: 300px;
    white-space: pre-wrap;
}
.othre_area {
    min-width: 240px;
}
.post_area {
    position: relative;
    height: auto;
}
.post_bottom_area {
    position: absolute;
    bottom: 10px;
    right: 20px;
}
.like_btn,
.un_like_btn {
    cursor: pointer;
}

.un_like_btn {
    color: #e2254d;
}
.error_message {
    font-size: 12px;
    color: red;
}
.search_area {
    height: 895px;
    margin: 30px;
    width: 350px;
    min-width: 300px;
}
.search-input {
    display: flex;
    width: 100%;
    height: 40px;
    margin-top: 10px;
    background-color: #44abd3;
    border-radius: 10px;
    border: none;
    align-items: center;
    justify-content: center;
    color: #fff;
}
.search-input a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    flex: 1;
}
.search-input a:hover {
    text-decoration: none;
    color: #fff;
}
.search-input-container {
    display: flex;
    margin: 10px auto;
}
.reset {
    width: 100%;
    height: 40px;
    margin-top: 20px;
    border: none;
    background-color: #ecf1f6;
    color: #44abd3;
}
.left-element {
    border-radius: 10px 0 0 10px;
    background-color: #ecf1f6;
    padding: 5px;
}
.right-element {
    width: 100%;
    border-radius: 0 10px 10px 0;
    background-color: #44abd3;
    border: #44abd3;
    color: #fff;
    padding: 5px;
    cursor: pointer;
}
.two_btn {
    width: 49%;
    height: 40px;
    font-size: 14px;
    margin: 12px 0;
    border-radius: 10px;
    padding: 0 5px;
    border: none;
    background: #999;
    color: #fff;
    cursor: pointer;
}
.liked_btn {
    background-color: #e38fab;
}
.my_post_btn {
    background-color: #ebbc5d;
}
.main_categories {
    margin: 20px auto;
}
.sub_categories li {
    margin: 10px auto;
}
.main_categories div {
    border-bottom: 1px solid #000;
    padding-bottom: 5px;
    align-items: center;
}
.main_categories span,
.sub_categories li input {
    list-style: none;
    cursor: pointer;
}
ul.sub_categories li input {
    width: 80%;
    margin: 0 10%;
    border: none;
    background: none;
    font-size: 14px;
    border-bottom: 1px solid #e7ebf0;
    text-align: left;
    transition: 0.4s;
}
ul.sub_categories li input:hover {
    border-bottom: 1px solid #000;
}
.category_btn {
    font-size: 12px;
    background-color: #44abd3;
    color: #fff;
    border-radius: 5px;
    padding: 5px;
}
.subcategory {
    margin-bottom: 20px;
}
/* 掲示板 詳細画面 */
.detail_container {
    position: relative;
}
.contributor {
    color: #999;
    font-weight: bold;
}
.detsail_post_title {
    margin: 10px auto;
}
.detsail_post {
    color: #9e9e9e;
}
.edit-modal-open {
    cursor: pointer;
}
.modal-inner-body textarea {
    height: 150px;
    resize: none;
}
.edit-modal-btn {
    display: flex;
    width: 50px;
    justify-content: space-between;
    align-items: center;
}
.calendar-btn {
    margin-right: 30px;
}
.btn-primary {
    text-align: center;
    color: #fff;
    background-color: #007bff;
}
.btn-danger {
    text-align: center;
    color: #fff;
    background-color: #dc3545;
}

/* 掲示板 コメント */
.comment_container {
    background: #fff;
    border-radius: 10px;
}
.comment_area {
    margin: 0 10px 40px;
}
.comment_area p {
    margin-top: 10px;
    font-size: 12px;
    font-weight: bold;
}
.comment_area input[type="submit"] {
    float: right;
}
.comment_area textarea {
    height: 300px;
    resize: none;
}
.comment_container span {
    font-size: 12px;
}
/* 掲示板　カテゴリー */
.category_area {
    min-width: 350px;
}
.category_box {
    border-radius: 5px;
    color: #fff;
}
.category_area input {
    margin: 10px 0;
}

/* ユーザー検索 */
.reserve_users_area {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    overflow: auto;
    padding: 10px;
    background: #ecf1f6;
    border-radius: 5px;
    max-height: 100vh;
    overflow-y: auto;
}

.one_person {
    min-width: 250px;
    height: 250px;
    margin: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
.search_conditions {
    margin: 20px auto 10px;
}
.underline {
    border-bottom: 1px solid #000;
    margin-bottom: 10px;
}
.search_conditions span {
    cursor: pointer;
}
.search_conditions_inner {
    display: none;
}
.search_column {
    margin: 5px auto;
}
.subject_edit_btn {
    color: #4eb7de;
}
.subject_inner div {
    display: inline-block;
    margin-right: 10px;
}
.selected_engineer {
    flex-direction: column;
}
.radius_gray input {
    width: 100%;
}
.radius_gray select {
    width: 120px;
}
.radius_gray select,
.radius_gray input {
    outline: none;
    text-decoration: none;
    border: none;
    margin: 10px auto;
    padding: 10px;
    background-color: #e0e5e9;
    border-radius: 10px;
}
.checkbox-container {
    display: flex;
    flex-wrap: wrap;
}
